.bio-tile {
  position: relative;
  display: block;
  padding-bottom: 100%;
  margin-bottom: $panel-gutters;
  
  border-radius: 2px;
  overflow: hidden;

  @media screen and (max-width: break(s)) {
    margin-bottom: 0;
  }

  &__image {
    position: absolute;
    top: 50%;
    left: 50%;
    width: auto;
    max-width: none;
    height: 100%;
    transform: translate(-50%, -50%);
    backface-visibility: hidden;
  }
  
  &__info {
    position: absolute;
    top: 0.833rem;
    left: 0.833rem;
    right: 0.833rem;
    bottom: 0.833rem;
    padding: 1.5rem 1rem;
    background: rgba(color(green), 0.95);
    border-radius: 2px;

    opacity: 0;
    transition: 0.15s ease-out;
    transform: translate(0, 1em);
    box-shadow: 4px 4px 16px rgba(color(black), 0.2), 0 3px 6px rgba(0,0,0,0.1);

    @media screen and (max-width: break(xl)) {
      padding: 1.333rem 0.833rem;
    }

    @media screen and (max-width: break(s)) {
      top: auto;
      left: 0.5rem;
      right: 0.5rem;
      bottom: 0.5rem;
      height: auto;
      min-height: 40%;
      padding: 0.7rem;
      
      background: rgba(color(black), 0.8);
      border-radius: 0;
      box-shadow: none;

      transform: none; 
      opacity: 1;
    }
  }

// 0.667 0.833, 1.167em, 1.333em 1.500em 1.667em 1.833em

  &__name, &__title {
    color: color(white);
    transform: translate(0, 2rem);
    opacity: 0;

    @media screen and (max-width: break(s)) {
      opacity: 1;
      transform: none;
    }
  }

  &__name {
    letter-spacing: 0.05em;
    font-size: 1.833rem;
    transition: 0.3s;
    margin-bottom: 1rem;

    @media screen and (max-width: break(xl)) {
      //font-size: 1.5rem;
    }

    @media screen and (max-width: break(l)) {
      font-size: 1.333rem;
    }

    @media screen and (max-width: break(s)) {
      font-size: 0.833rem;
      margin-bottom: 0.5rem;
    }
  }

  &__title {
    margin-left: 3px;
    text-transform: uppercase; 
    font-weight: 400;
    font-size: 0.833rem;
    line-height: 1.5em;
    transition: 0.37s;

    @media screen and (max-width: break(l)) {
      font-size: 0.667rem;
      line-height: 1.333em;
    }

    @media screen and (max-width: break(s)) {
      font-size: 0.6rem;
      line-height: 1.333em;
      opacity: 0.7;
      margin: 0;
    }
  }

  &:hover, &:active, &:focus {
    .bio-tile__info {
      opacity: 1;
      transform: translate(0, 0);
    }

    .bio-tile__name, .bio-tile__title {
      transform: translate(0, 0);
      opacity: 1;
    }

    .bio-tile__title {
      opacity: 0.85;
    }
  }
}

.grid .bio-col {
  @media screen and (max-width: 1140px) {
    width: 33.33%;
  }

  @media screen and (max-width: break(m)) {
    width: 50%;
  }
}