$baseline: 16px;
$base-font-size: 16;

$color-map: (
  white:      #ffffff,
  black:      #1C1D27,
  text:       #1C1D27,
  green:      #90C4B3,
  blue:       #00A1E4,
  gray:       #F2F3F4,
  dark-gray:  #515762
);

$breakpoints: (
  xl: 1200px,
  l:  992px,
  m:  768px, 
  s:  640px,
  xs: 500px
);

// Controls borders between panels
$panel-gutters: 1.5rem;