.block {
  position: relative;
  margin-bottom: $panel-gutters;
  padding: 2rem;
  border-radius: 1px;

  @media screen and (max-width: break(s)) {
    margin-bottom: 0;
    padding: 2rem 1.5rem;
    border-radius: 0;
  }

  &--hero {
    height: 100%;
    min-height: 480px;
    @media screen and (max-width: break(s)) {
      height: auto;
      padding: 12rem 0;
    }
  }

  &--hero--small {
    height: 70%;
    min-height: 480px;
    @media screen and (max-width: break(s)) {
      height: auto;
      padding: 12rem 0;
    }
  }

  &--home {
    background: color(black);
    //background: url(../images/placeholder-hero.jpg) center no-repeat;
    background-size: cover;
  }

  &--white {
    padding-top: 4rem;
    padding-bottom: 4rem;

    @media screen and (max-width: break(s)) {
      padding-top: 3rem;
      padding-bottom: 3rem;
    }
  }

  &--footer {
    background: rgba(color(black), 1);
    padding: 2rem 4rem;

    @media screen and (max-width: break(s)) {
      padding: 2rem 1.5rem;
    }
  }

  &--footer-right {
    background: color(gray);
    padding: 4rem;
    
    @media screen and (max-width: break(m)) {
      padding: 1.5rem;
    }
  }
  
  &--third {
    min-height: 560px;
    background: rgba(color(black), 1);

    @media screen and (max-width: break(third)) {
      height: auto !important;
      min-height: 0;
    }

    @media screen and (max-width: break(s)) {
      margin: 0 1.5rem 1.5rem;
      margin: 0 0 -1px;
      border-bottom: 1px solid rgba(color(white), 0.1);

      .col--article:nth-child(2) & {
        background: rgba(color(black), 0.95);
      }
    }
  }

  &--featured-post {
    padding-left: 4rem;
    padding-right: 4rem;
    background: color(green);

    @media screen and (max-width: break(m)) {
      padding-left: 1.5rem;
      padding-right: 1.5rem;
    }
  }

  &--dark {
    background: rgba(color(black), 1);
  }

  &--gray {
    background: color(gray);
  }

  &--green {
    background: color(green);
  }

  &__bottom {
    position: absolute;
    bottom: 2rem;
    left: 2rem;
    right: 2rem;

    @media screen and (max-width: break(third)) {
      position: static;
    }
  }

  &__svg-wrapper {
    position: relative; 
    text-align: center;
    height: 60%;
  }

  &.grid {
    padding: 0;
  }
}