.block {
  position: relative;
  margin-bottom: $panel-gutters;
  padding: 2rem;

  &--hero {
    height: 100%;
  }

  &--dark {
    background: rgba(color(black), 0.9);
  }

  &--gray {
    background: color(gray);
  }

  &--third {
    min-height: 560px;
  }

  &__bottom {
    position: absolute;
    bottom: 2rem;
    left: 2rem;
    right: 2rem;
  }
}