.footer {
  

  &__social-list {
    list-style-type: none;
    padding: 0;
    margin: 0 0 1rem 0;

    li {
      display: inline-block;
    }
  }

  &__svg {
    width: 2rem;
    height: 2rem;
    margin-right: 0.5rem;
    fill: color(dark-gray);

    transition: 0.15s;

    &:hover, &:active, &:focus {
      fill: color(black);
    }
  }

  &__svg--vimeo {
    margin-right: 1rem;
  }

  &__newsletter-form {
    margin-top: 2rem;
    margin-bottom: 1rem;
  }

  &__newsletter-fieldset {
    border: none;
    padding: 0;
    margin-top: 1rem;
  }

  &__newsletter-input {
    -webkit-appearance: none;
    border: none;
    padding: 0.6rem 1rem 0.6rem 0rem;
    margin-right: -4px;

    border-bottom: 1px solid rgba(color(dark-gray), 1);
    background: transparent;
    color: color(dark-gray);

    transition: background 0.15s;
    transition: padding 0.2s;

    &:active, &:focus {
      background: color(white);
      padding-left: 1rem;
      box-shadow: 4px 6px 16px rgba(color(black), 0.19);

      & ~ .footer__newsletter-submit {
        opacity: 1;
        box-shadow: 4px 6px 16px rgba(color(black), 0.19);
        pointer-events: auto;    
      }
    }
  }

  &__newsletter-submit {
    padding: 0.6rem 1rem;

    font-weight: 400;
    background: color(dark-gray);
    color: color(white);
    border: none;
    border-bottom: 1px solid color(dark-gray);

    transition: 0.1s;
    opacity: 0;
    pointer-events: none;

    &:hover, &:active, &:focus {
      opacity: 1;
      box-shadow: 4px 6px 16px rgba(color(black), 0.19);
      background: color(green);
      border-bottom: 1px solid color(green);
      pointer-events: auto;
    }
  }

  ::-webkit-input-placeholder {
     color: color(dark-gray);
  }

  :-moz-placeholder { /* Firefox 18- */
     color: color(dark-gray);  
  }

  ::-moz-placeholder {  /* Firefox 19+ */
     color: color(dark-gray);  
  }

  :-ms-input-placeholder {  
     color: color(dark-gray);  
  }

  h6 {
    color: color(dark-gray);
  }
}