/* 
Box Helpers
 Using REMS instead {The base() function returns a multiple of the baseline font size (14px).}
 This is to ensure vertical rhythm and spacing consistency. 
 All block elements and buttons have a margin bottom of base(1).
 Do NOT use .padding--l on .grid or .col elements unless you do not have a gutter width.
 ie.
 .margin--b-0 returns margin-bottom: 0;
 .padding--t-5 returns padding-top: 70px; (14 x 5)
*/

@for $i from 0 through 7 {
  .margin--t-#{$i} {
    margin-top: $i + 0rem;
  }

  .margin--b-#{$i} {
    margin-bottom: $i + 0rem;
  }

  .margin--l-#{$i} {
    margin-left: $i + 0rem;
  }

  .margin--r-#{$i} {
    margin-right: $i + 0rem;
  } 

  .margin--tb-#{$i} { 
    margin-top: $i + 0rem;
    margin-bottom: $i + 0rem;
  }

  .margin--lr-#{$i}{
    margin-left: $i + 0rem;
    margin-right: $i + 0rem;
  }

  .padding--t-#{$i} {
    padding-top: $i + 0rem;
  }

  .padding--b-#{$i} {
    padding-bottom: $i + 0rem;
  }

  .padding--l-#{$i} {
    padding-left: $i + 0rem;
  }

  .padding--r-#{$i} {
    padding-right: $i + 0rem;
  }

  .padding--tb-#{$i} {  
    padding-top: $i + 0rem;
    padding-bottom: $i + 0rem;
  }

  .padding--lr-#{$i}{
    padding-left: $i + 0rem;
    padding-right: $i + 0rem;
  }

  @media screen and (max-width: break(s)) {
    .margin--b-#{$i}--s {
      margin-bottom: $i + 0rem;
    }
  }
}