.svg--design {
  display: inline-block;
  height: auto;
  width: 90%;
  max-height: 300px;
  margin: 2rem auto 10rem;

  .blueprint {
    fill: none;
    stroke: rgba(#fff, 0.2);
    stroke-width: 1px;
  }

  .rocket {
    fill: none;
    stroke: rgba(#fff, 0.8);
    stroke-width: 2px;
  }

  path {

  }
}

.svg--deploy {
  width: 40%;
  max-height: 300px;
  height: auto;
  margin: 2rem auto 12rem;

  transform: rotate(42deg);
}

.svg--dream {
  width: 90%;
  max-height: 300px;
  height: auto;
  margin: 2rem auto 0;

  .telescope {
    transform: scale(0.85);
    transform-origin: 0 100%;
  }
}

.stars {
  position: absolute;
  top: 2rem;
  right: 0;
  left: 0;
}

.star {
  position: absolute;
  width: 5px;
  height: 5px;

  background: color(white);
  transform: rotate(45deg);
}

.star:nth-child(1) {
  top: 7rem;
  right: 18%;
}

.star:nth-child(2) {
  top: 1.4rem;
  right: 69%;
}

.star:nth-child(3) {
  top: 3rem;
  right: 10%;
}

.star:nth-child(4) {
  top: 0rem;
  right: 45%;
}

.star:nth-child(5) {
  top: 0rem;
  right: 19%;
}

.svg--client {
  height: auto;
  width: 70%;
  max-width: 100px;

  path {
    fill: rgba(color(black), 0.67);
  }
}