.t-center {
  text-align: center;
}

.t-left {
  text-align: left;
}

.t-right {
  text-align: right;
}

.t-uppercase {
  text-transform: uppercase;
}

.t-white {
  color: color(white);
  a {
    color: color(white);
  }

  .t-muted, &.t-muted {
    color: rgba(color(white), 0.8);
  }

  .t-more-muted, &.t-more-muted {
    color: rgba(color(white), 0.67);
  }
}

.t-black {
  color: color(black);
}

.t-blue {
  color: color(blue);
}

.t-green {
  color: color(green);
}

.t-muted {
  color: rgba(color(text), 0.8);
}

.t-more-muted {
  color: rgba(color(text), 0.67);
}

.t-no-underline {
  text-decoration: none;
}