.t-center {
  text-align: center;
}

.t-uppercase {
  text-transform: uppercase;
}

.t-white {
  color: color(white);
}

.t-black {
  color: color(black);
}

.t-blue {
  color: color(blue);
}

.t-green {
  color: color(green);
}

.t-muted {
  opacity: 0.85;
}

.t-more-muted {
  opacity: 0.67;
}