$museo: 'museo-sans', sans-serif;

html {
  color: color(text);
  font-size: $base-font-size + 0px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.667em;
  @include font($museo, $base-font-size, 300);
}

::selection {
  color: #111;
  background: #D6EDFF;
  text-shadow: none;
}

%header {
  margin-top: 0;
  margin-bottom: 1rem;
  text-rendering: optimizeLegibility;
  color:  color(text);
  letter-spacing: 0.1em;
  line-height: 1.1em;
  @include font($museo, 16, 300);
  &::selection{
    //color: #000;
  }
}

//Header Sizing
$headers: (h1: 64, h2: 48, h3: 32, h4: 28, h5: 22, h6: 16);

@each $header, $size in $headers {
  #{$header} {
    @extend %header;
    @include font-size($size);
  }
}

p {
  letter-spacing: 0.07em;
}

a {
  transition: 0.2s;
}