{% extends "layouts/layout.html" %}

{% block title %}Dream{% endblock %}
{% block content %}

  <div class="block block--hero block--hero--small block--dark">
    <div class="va--table">
      <div class="va--table-cell">
        <div class="container">
          <div class="grid">
            <div class="col-12 t-center">
              <h1 class="t-uppercase t-white">About Polymath</h1>    
            </div>
            <div class="col-8 col-12--s col--centered t-center">
              <p class="t-white t-muted">We are a strategic storytelling agency advancing the good with visionary organizations and brands.</p>
            </div>
          </div>
        </div>
      </div>
    </div>  
  </div>

  <div class="block">
    <div class="container--small">
      <h5>What does Polymath do? <span class="t-muted">We are your one-stop creative partner for communications and thinking.</span></h5>
      <p class="t-more-muted">Polymath exists to find and amplify your voice. From ideation to implementation, we tell stories and develop strategies that realize your goals and resonate with your audiences.</p>
      <p class="t-more-muted">Since 2013, more than 70 businesses, brands, and nonprofits have entrusted us to understand their <a href="dream.html">dreams</a>, <a href="design.html">design</a> their platforms, and <a href="deploy.html">deploy</a> their campaigns. When our skills combine with your cause, the results move movements.</p>
      <h5>Who is Polymath?</h5>
      <p class="t-more-muted">Our team of problem-solving storytellers—led by founder Dr. Timothy Dalrymple—represents a unique combination of communicators and creatives, teachers and technologists, producers and PhDs, with experience in the business, religion, academic, and entertainment sectors. …No rocket scientists, though*.</p>
      <p class="t-more-muted"><em>*Yet</em></p>


    </div>
  </div>

  <div class="grid"><!-- grid--no-padding -->
    <div class="col-3 bio-col">
      <a href="bio.html" class="bio-tile">
        <img src="./assets/images/placeholder.jpg" class="bio-tile__image" alt="">
        <div class="bio-tile__info">
          <h6 class="bio-tile__name">Tim Dalrymple, PhD</h6>
          <h6 class="bio-tile__title">CEO &amp; Chief Creative Officer</h6>
        </div>
      </a>
    </div>
    <div class="col-3 bio-col">
      <a href="bio.html" class="bio-tile">
        <img src="./assets/images/placeholder.jpg" class="bio-tile__image" alt="">
        <div class="bio-tile__info">
          <h6 class="bio-tile__name">Kerri Neil Storm</h6>
          <h6 class="bio-tile__title">VP of Accounts &amp; Strategy</h6>
        </div>
      </a>
    </div>
    <div class="col-3 bio-col">
      <a href="bio.html" class="bio-tile">
        <img src="./assets/images/placeholder.jpg" class="bio-tile__image" alt="">
        <div class="bio-tile__info">
          <h6 class="bio-tile__name">David Charles</h6>
          <h6 class="bio-tile__title">VP of Content</h6>
        </div>
      </a>
    </div>
    <div class="col-3 bio-col">
      <a href="bio.html" class="bio-tile">
        <img src="./assets/images/placeholder.jpg" class="bio-tile__image" alt="">
        <div class="bio-tile__info">
          <h6 class="bio-tile__name">Galen Dalrymple</h6>
          <h6 class="bio-tile__title">Business Manager</h6>
        </div>
      </a>
    </div>
    <div class="col-3 bio-col">
      <a href="bio.html" class="bio-tile">
        <img src="./assets/images/placeholder.jpg" class="bio-tile__image" alt="">
        <div class="bio-tile__info">
          <h6 class="bio-tile__name">Chandler Epp</h6>
          <h6 class="bio-tile__title">Director of Strategic Communications</h6>
        </div>
      </a>
    </div>
    <div class="col-3 bio-col">
      <a href="bio.html" class="bio-tile">
        <img src="http://placehold.it/450x450" class="bio-tile__image" alt="">
        <div class="bio-tile__info">
          <h6 class="bio-tile__name">Daniel Coulbourne</h6>
          <h6 class="bio-tile__title">Director of Web</h6>
        </div>
      </a>
    </div>
    <div class="col-3 bio-col">
      <a href="bio.html" class="bio-tile">
        <img src="./assets/images/placeholder.jpg" class="bio-tile__image" alt="">
        <div class="bio-tile__info">
          <h6 class="bio-tile__name">Stephen McCaskell</h6>
          <h6 class="bio-tile__title">Lead WordPress Developer &amp; Director of Production</h6>
        </div>
      </a>
    </div>
    <div class="col-3 bio-col">
      <a href="bio.html" class="bio-tile">
        <img src="http://placehold.it/450x450" class="bio-tile__image" alt="">
        <div class="bio-tile__info">
          <h6 class="bio-tile__name">Chris Arnold</h6>
          <h6 class="bio-tile__title">Director of Video</h6>
        </div>
      </a>
    </div>
    <div class="col-3 bio-col">
      <a href="bio.html" class="bio-tile">
        <img src="http://placehold.it/450x450" class="bio-tile__image" alt="">
        <div class="bio-tile__info">
          <h6 class="bio-tile__name">Jeff Trojek</h6>
          <h6 class="bio-tile__title">Director of Graphic Design</h6>
        </div>
      </a>
    </div>
    <div class="col-3 bio-col">
      <a href="bio.html" class="bio-tile">
        <img src="http://placehold.it/450x450" class="bio-tile__image" alt="">
        <div class="bio-tile__info">
          <h6 class="bio-tile__name">Jonathan Halcomb</h6>
          <h6 class="bio-tile__title">Director of Special Projects &amp; Audio</h6>
        </div>
      </a>
    </div>
    <div class="col-3 bio-col">
      <a href="bio.html" class="bio-tile">
        <img src="http://placehold.it/450x450" class="bio-tile__image" alt="">
        <div class="bio-tile__info">
          <h6 class="bio-tile__name">Adrian Bellaire</h6>
          <h6 class="bio-tile__title">Director of Photography &amp; Senior Editor</h6>
        </div>
      </a>
    </div>
    <div class="col-3 bio-col">
      <a href="bio.html" class="bio-tile">
        <img src="http://placehold.it/450x450" class="bio-tile__image" alt="">
        <div class="bio-tile__info">
          <h6 class="bio-tile__name">Jon Ambas</h6>
          <h6 class="bio-tile__title">Front-End Web Developer</h6>
        </div>
      </a>
    </div>
    <div class="col-3 bio-col">
      <a href="bio.html" class="bio-tile">
        <img src="http://placehold.it/450x450" class="bio-tile__image" alt="">
        <div class="bio-tile__info">
          <h6 class="bio-tile__name">Adam King</h6>
          <h6 class="bio-tile__title">Front-End Web Developer</h6>
        </div>
      </a>
    </div>
    <div class="col-3 bio-col">
      <a href="bio.html" class="bio-tile">
        <img src="http://placehold.it/450x450" class="bio-tile__image" alt="">
        <div class="bio-tile__info">
          <h6 class="bio-tile__name">Dalton Chow</h6>
          <h6 class="bio-tile__title">Web Developer</h6>
        </div>
      </a>
    </div>
  </div>

  <!-- <div class="block block--featured-post">
    <p class="t-white t-muted margin--b-7">Featured Blog Post</p>
    <h4 class="t-uppercase t-white"><a href="" class="t-no-underline">Featured Blog Post</a></h4>
    <p class="t-white t-muted">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.</p>
  </div> -->

  {% include "includes/footer.html" %}
 
  
{% endblock %}