{% extends "layouts/layout.html" %}

{% block title %}Tim Dalrymple{% endblock %}
{% block content %}

  <div class="block block--hero block--hero--small block--dark">
    <div class="va--table">
      <div class="va--table-cell">
        <div class="container">
          <div class="grid">
            <div class="col-12 t-center">
              <h1 class="t-uppercase t-white">Tim Dalrymple, PhD</h1>    
            </div>
            <div class="col-8 col-12--s col--centered t-center">
              <p class="t-white t-muted">CEO &amp; Chief Creative Officer</p>
            </div>
          </div>
        </div>
      </div>
    </div>  
  </div>

  <div class="block">
    <div class="container--small">
      <p class="t-more-muted">Tim is a former national-champion gymnast turned academic who went on to teach at Harvard, launch the world's largest religion website, and grow what is now Polymath. He leads our strategic planning team and provides creative oversight on all major projects.</p>
      <p class="t-more-muted">Tim currently enjoys less dangerous sports than gymnastics and spending time with his amazing wife and Star Wars-loving daughters.</p>
    </div>
  </div>

  <div class="block block--featured-post">
    <p class="t-white t-muted margin--b-7">Featured Blog Post</p>
    <h4 class="t-uppercase t-white"><a href="" class="t-no-underline">Featured Blog Post</a></h4>
    <p class="t-white t-muted">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.</p>
  </div>

  {% include "includes/footer.html" %}
 
  
{% endblock %}