{% extends "layouts/layout.html" %}

{% block title %}Deploy{% endblock %}
{% block content %}

  <div class="block block--hero block--hero--small block--dark">
    <div class="va--table">
      <div class="va--table-cell">
        <div class="container">
          <div class="grid">
            <div class="col-12 t-center">
              <h1 class="t-uppercase t-white">Deploy</h1>    
            </div>
            <div class="col-8 col-12--s col--centered t-center">
              <p class="t-white t-muted">In a noisy universe, the best storyteller wins.</p>
            </div>
          </div>
        </div>
      </div>
    </div>  
  </div>

  <div class="block">
    <div class="container--small">
    
    <blockquote class="blockquote blockquote--right blockquote--gray">
      <p>American Enterprise Institute came to us with a vision, and we immediately saw the potential for executing across so many platforms.</p>
      <a href="/">View Story</a>
      <cite>— David Charles<br><span>VP of Content</span></cite>
    </blockquote>

    <p class="t-more-muted">There’s an old saying: <em>If a tree falls in the woods, and no one’s around to hear it, does it make a sound?</em> The same could be said of many a creative campaign… If your website goes live and no one visits, did it ever really launch? What if your video is published, but no one watches? If your next big initiative kicks off, and no one acts upon it, did it ever really happen?</p>

    <p class="t-more-muted">We believe great storytelling requires great <em>telling</em>, not simply great <em>story</em>.</p>

    <blockquote class="blockquote blockquote--left blockquote--gray">
      <p>OQ Farm’s new brand compelled us to consider new ways of communicating their vision to their key audiences.</p>
      <a href="/">View Story</a>
      <cite>— Chandler Epp<br><span>Director of Strategic Communications</span></cite>
    </blockquote>

    <p class="t-more-muted">How do do you get people to care? How do you make your audience aware? How do you position your content for maximum impact? Launch from a strong platform, and you will succeed. Fail to communicate effectively, and your ideas get lost in the crowd.</p>

    <p class="t-more-muted">Polymath is your one-stop shop for stand-out communications. We work every day to dream plans, design platforms, and deploy projects like yours to infinity, beyond, and everywhere in between.</p>

    
      
    <h4 class="t-center margin--t-5">Have a story that needs telling?</h4>
    <p class="t-center margin--b-4"><a href="" class="button js-contact-trigger">Let's Talk</a></p>


      <!-- <blockquote class="blockquote blockquote--left">
        <p>International Justice Mission came to us with a problem—literally of global scale.</p>
        <cite>— Daniel Coulbourne</cite>
        <a href="/">View Story</a>
      </blockquote>
      
      
      <blockquote class="blockquote blockquote--right blockquote--dark-gray">
        <p>Per ex scripta intellegat, Aperiri scaevola Desrunt sit cuk.</p>
        <cite>— Daniel Coulbourne</cite>
        <a href="/">View Story</a>
      </blockquote>
      
      <blockquote class="blockquote blockquote--right blockquote--gray">
        <p>Per ex scripta intellegat, Aperiri scaevola Desrunt sit cuk.</p>
        <cite>— Daniel Coulbourne</cite>
        <a href="/">View Story</a>
      </blockquote>
      
      <blockquote class="blockquote blockquote--right blockquote--green">
        <p>Per ex scripta intellegat, Aperiri scaevola Desrunt sit cuk.</p>
        <cite>— Daniel Coulbourne</cite>
        <a href="/">View Story</a>
      </blockquote> -->
    </div>
  </div>

  <!-- <div class="block block--featured-post">
    <p class="t-white t-muted margin--b-7">Featured Blog Post</p>
    <h4 class="t-uppercase t-white"><a href="" class="t-no-underline">Featured Blog Post</a></h4>
    <p class="t-white t-muted">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.</p>
  </div> -->

  {% include "includes/footer.html" %}
 
  
{% endblock %}