{% extends "layouts/layout.html" %}

{% block title %}Design{% endblock %}
{% block content %}

  <div class="block block--hero block--hero--small block--dark">
    <div class="va--table">
      <div class="va--table-cell">
        <div class="container">
          <div class="grid">
            <div class="col-12 t-center">
              <h1 class="t-uppercase t-white">Design</h1>    
            </div>
            <div class="col-8 col-12--s col--centered t-center">
              <p class="t-white t-muted">Smart solutions come in many shapes and sizes.</p>
            </div>
          </div>
        </div>
      </div>
    </div>  
  </div>

  <div class="block">
    <div class="container--small">
      
      <blockquote class="blockquote blockquote--left blockquote--gray">
        <p>Inspired by the lush landscape of OQ Farm, we created a visual identity reflective of the changing seasons.</p>
        <a href="/">View Story</a>
        <cite>— Jeff Trojek<br><span>Director of Graphic Design</span></cite>
      </blockquote>

      <p class="t-more-muted">After all, creativity isn’t limited to the printed page or a glowing screen… Our work for partners takes the form of many mediums: web and app development, video and animation production, social media content, graphic design, curriculum and creative writing, and more.</p>

      <p class="t-more-muted">What’s the common thread between these services? Artistic storytelling, backed by strategic thinking and infused with resonant meaning. From ideation to implementation, we join your brand on a journey from abstract concept to concrete deliverable—and have fun doing it.</p>

      <blockquote class="blockquote blockquote--right blockquote--gray">
        <p>We quickly realized that a high-quality animation was the best method for  highlighting Jack Cooper’s revolutionary industry innovations.</p>
        <a href="/">View Story</a>
        <cite>— Chris Arnold<br><span>Director of Video</span></cite>
      </blockquote>

      <p class="t-more-muted">We’ve been on your side of the table before: Polymath was birthed from the team that created the world’s largest religion and spirituality website. Now, we’ve assembled a group of experts who hail from snowy Canada to sunny Houston, DC, Atlanta, and beyond. Our flexibility as a remote-working agency allows us to tap the best talent, no matter where they live, and put them to work for your cause.</p>

      <p class="t-more-muted">This is personal for us. We create, build, and design not just because it’s how we make a living. Truly, we couldn’t live any other way.</p>

      


      <!-- <blockquote class="blockquote blockquote--left">
        <p>International Justice Mission came to us with a problem—literally of global scale.</p>
        <cite>— Daniel Coulbourne</cite>
        <a href="/">View Story</a>
      </blockquote>
      
      
      <blockquote class="blockquote blockquote--right blockquote--dark-gray">
        <p>Per ex scripta intellegat, Aperiri scaevola Desrunt sit cuk.</p>
        <cite>— Daniel Coulbourne</cite>
        <a href="/">View Story</a>
      </blockquote>
      
      <blockquote class="blockquote blockquote--right blockquote--gray">
        <p>Per ex scripta intellegat, Aperiri scaevola Desrunt sit cuk.</p>
        <cite>— Daniel Coulbourne</cite>
        <a href="/">View Story</a>
      </blockquote>
      
      <blockquote class="blockquote blockquote--right blockquote--green">
        <p>Per ex scripta intellegat, Aperiri scaevola Desrunt sit cuk.</p>
        <cite>— Daniel Coulbourne</cite>
        <a href="/">View Story</a>
      </blockquote> -->
    </div>
  </div>

  <!-- <div class="block block--featured-post">
    <p class="t-white t-muted margin--b-7">Featured Blog Post</p>
    <h4 class="t-uppercase t-white"><a href="" class="t-no-underline">Featured Blog Post</a></h4>
    <p class="t-white t-muted">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.</p>
  </div> -->

  {% include "includes/footer.html" %}
 
  
{% endblock %}