{% extends "layouts/layout.html" %}

{% block title %}Dream{% endblock %}
{% block content %}

  <div class="block block--hero block--dark">
    <div class="va--table">
      <div class="va--table-cell">
        <div class="container">
          <div class="grid">
            <div class="col-12 t-center">
              <h1 class="t-uppercase t-white">Dream.</h1>    
            </div>
            <div class="col-8 col--centered t-center">
              <p class="t-white t-muted">We are a strategic storytelling agency advancing the good with visionary organizations and brands.</p>
            </div>
          </div>
        </div>
      </div>
    </div>  
  </div>

  <div class="block">
    <div class="container--small">
      <h5>Lorem ipsum dolor sit amet, consectetur elit.</h5>
      <p class="t-more-muted">Lorem ipsum dolor sit amet, vim ludus accusamus assentior cu, ceteros similique constituam has cu, primis nostrum singulis ad mea. Cu numquam corrumpit sit! His nostro accumsan et. Pri ad nulla ceteros habemus. Ut usu saepe integre. Mel cu noluisse periculis maluisset, ne oporteat accusata vituperatoribus sed.</p>
      <blockquote class="blockquote blockquote--right">
        <p>Per ex scripta intellegat, Aperiri scaevola Desrunt sit cuk.</p>
        <cite>— Daniel Coulbourne</cite>
        <a href="/">View Story</a>
      </blockquote>
      <p class="t-more-muted">Ei prompta petentium qui. Alia electram scribentur an per? Iuvaret inermis referrentur eu his, in amet omnium referrentur eum! Dictas verear latine ea eam, ea probo homero.</p>
      <p class="t-more-muted">Mel probatus ocurreret eu, eu eum brute causae. Mel ut quis atqui, nam ei diam prima ullamcorper. Mollis corrumpit abhorreant te pri, vis id unum liber! Tollit utroque admodum at has. Vis no repudiandae contentiones.</p>
      <blockquote class="blockquote blockquote--left blockquote--dark-gray">
        <p>Per ex scripta intellegat, Aperiri scaevola Desrunt sit cuk.</p>
        <cite>— Daniel Coulbourne</cite>
        <a href="/">View Story</a>
      </blockquote>
      <h5>Lorem ipsum dolor sit amet, consectetur elit.</h5>
      <p class="t-more-muted">Lorem ipsum dolor sit amet, vim ludus accusamus assentior cu, ceteros similique constituam has cu, primis nostrum singulis ad mea. Cu numquam corrumpit sit! His nostro accumsan et. Pri ad nulla ceteros habemus. Ut usu saepe integre. Mel cu noluisse periculis maluisset, ne oporteat accusata vituperatoribus sed.</p>
      <blockquote class="blockquote blockquote--right blockquote--gray">
        <p>Per ex scripta intellegat, Aperiri scaevola Desrunt sit cuk.</p>
        <cite>— Daniel Coulbourne</cite>
        <a href="/">View Story</a>
      </blockquote>
      <p class="t-more-muted">Ei prompta petentium qui. Alia electram scribentur an per? Iuvaret inermis referrentur eu his, in amet omnium referrentur eum! Dictas verear latine ea eam, ea probo homero.</p>
      <p class="t-more-muted">Mel probatus ocurreret eu, eu eum brute causae. Mel ut quis atqui, nam ei diam prima ullamcorper. Mollis corrumpit abhorreant te pri, vis id unum liber! Tollit utroque admodum at has. Vis no repudiandae contentiones.</p>
      <blockquote class="blockquote blockquote--right blockquote--green">
        <p>Per ex scripta intellegat, Aperiri scaevola Desrunt sit cuk.</p>
        <cite>— Daniel Coulbourne</cite>
        <a href="/">View Story</a>
      </blockquote>
    </div>
  </div>

  <div class="block block--featured-post">
    <h4 class="t-uppercase t-white"><a href="" class="t-no-underline">Featured Blog Post</a></h4>
    <p class="t-white t-muted">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.</p>
  </div>

  {% include "includes/footer.html" %}
 
  
{% endblock %}