{% extends "layouts/layout.html" %}

{% block title %}Dream{% endblock %}
{% block content %}

  <div class="block block--hero block--hero--small block--dark">
    <div class="va--table">
      <div class="va--table-cell">
        <div class="container">
          <div class="grid">
            <div class="col-12 t-center">
              <h1 class="t-uppercase t-white">Dream</h1>    
            </div>
            <div class="col-8 col-12--s col--centered t-center">
              <p class="t-white t-muted">The most successful creative endeavors start with <em>Why</em>.</p>
            </div>
          </div>
        </div>
      </div>
    </div>  
  </div>

  <div class="block">
    <div class="container--small">

    <blockquote class="blockquote blockquote--right blockquote--gray">
      <p>International Justice Mission came to us with a problem—literally of global scale.</p>
      <a href="/">View Story</a>
      <cite>— Daniel Coulbourne<br><span>Director of Web</span></cite>
    </blockquote>
      
      <p class="t-more-muted">Since 2013, more than 70 organizations and brands from the business, nonprofit, think tank, and entertainment sectors have entrusted us not just to implement their dreams but to understand them.</p>

      <p class="t-more-muted">What have we learned? Asking <em>What</em> only takes you so far: the outlines of a Big Idea, a few parameters, maybe some marching orders. Asking <em>How</em> propels us further: toward a roadmap, a strategy, a plan for execution. But, it’s asking <em>Why</em> at the outset that makes all the difference, and it’s the reason we begin our creative partnerships with a focus on strategy.</p>

      <blockquote class="blockquote blockquote--left blockquote--gray">
        <p>We worked alongside Jack Cooper not just to execute projects but to help shape and elevate their efforts to the highest level.</p>
        <a href="/">View Story</a>
        <cite>— Tim Dalrymple<br><span>CEO and CCO</span></cite>
      </blockquote>

      <p class="t-more-muted">When you work with Polymath, you’re getting more than a vendor. You’re getting partners and problem-solvers who genuinely care about what you do, not just about getting your business. Our passion is your passion… Your <em>Why</em>, your mission, your I-wake-up-every-day-for-this is what gets us going. That’s what animates and inspires us to serve with excellence.</p>

      <p class="t-more-muted">Advancing the good is no easy feat. But, with a thinking-first process, our work on your vision charts a course to success.</p>

      <p class="t-center margin--tb-4"><a href="design.html" class="button">How We Design</a></p>


      <!-- <blockquote class="blockquote blockquote--left">
        <p>International Justice Mission came to us with a problem—literally of global scale.</p>
        <cite>— Daniel Coulbourne</cite>
        <a href="/">View Story</a>
      </blockquote>
      
      
      <blockquote class="blockquote blockquote--right blockquote--dark-gray">
        <p>Per ex scripta intellegat, Aperiri scaevola Desrunt sit cuk.</p>
        <cite>— Daniel Coulbourne</cite>
        <a href="/">View Story</a>
      </blockquote>
      
      <blockquote class="blockquote blockquote--right blockquote--gray">
        <p>Per ex scripta intellegat, Aperiri scaevola Desrunt sit cuk.</p>
        <cite>— Daniel Coulbourne</cite>
        <a href="/">View Story</a>
      </blockquote>
      
      <blockquote class="blockquote blockquote--right blockquote--green">
        <p>Per ex scripta intellegat, Aperiri scaevola Desrunt sit cuk.</p>
        <cite>— Daniel Coulbourne</cite>
        <a href="/">View Story</a>
      </blockquote> -->
    </div>
  </div>

  <!-- <div class="block block--featured-post">
    <p class="t-white t-muted margin--b-7">Featured Blog Post</p>
    <h4 class="t-uppercase t-white"><a href="" class="t-no-underline">Featured Blog Post</a></h4>
    <p class="t-white t-muted">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.</p>
  </div> -->

  {% include "includes/footer.html" %}
 
  
{% endblock %}