{% extends "layouts/layout.html" %}

{% block title %}Polymath{% endblock %}
{% block content %}

  <div class="block block--hero block--home">
    <div class="va--table">
      <div class="va--table-cell">
        <div class="container">
          <div class="grid">
            <div class="col-12 t-center">
              <h1 class="t-uppercase t-white">Dream. Design. Deploy.</h1>    
            </div>
            <div class="col-8 col--centered t-center">
              <p class="t-white t-muted">We are a strategic storytelling agency advancing the good with visionary organizations and brands.</p>
            </div>
          </div>
        </div>
      </div>
    </div>  
  </div>

  <div class="block t-center padding--tb-7">
    <div class="container">
      <h2 class="t-uppercase">About Us.</h2>
      <h5 class="t-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do.</h5>
    </div>
    <div class="container--small">
      <p class="t-more-muted">Ut enim ad minim <a href="">test</a>veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute.</p>
      <a href="about.html" class="button margin--t-1">Learn About Us</a>
    </div>
  </div>

  <div class="grid">
    <div class="col-4 material-wrapper">
      <div class="block block--dark js-block material-card" data-group="thirds">
        <h3 class="t-uppercase t-white">Dream.</h3>
        <div class="block__svg-wrapper">{% include "includes/svg-dream.html" %}</div>
        <div class="block__bottom">
          <p class="t-white t-muted">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.</p>
          <a href="dream.html" class="button margin--t-1">How We Dream</a>  
        </div>
      </div>
    </div>
    <div class="col-4 material-wrapper">
      <div class="block block--dark js-block material-card" data-group="thirds">
        <h3 class="t-uppercase t-white">Design.</h3>
        <div class="block__svg-wrapper">{% include "includes/svg-design.html" %}</div>
        <div class="block__bottom">
          <p class="t-white t-muted">Ut enim ad..</p>
          <a href="dream.html" class="button margin--t-1">How We Design</a>
        </div>
      </div>
    </div>
    <div class="col-4 material-wrapper">
      <div class="block block--dark js-block material-card" data-group="thirds">
        <h3 class="t-uppercase t-white">Deploy.</h3>
        <div class="block__svg-wrapper">{% include "includes/svg-deploy.html" %}</div>
        <div class="block__bottom">
          <p class="t-white t-muted">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.</p>
          <a href="dream.html" class="button margin--t-1">How We Deploy</a>
        </div>
      </div>
    </div>
  </div>

  <div class="block t-center padding--tb-7">
    <div class="container">
      <h2 class="t-uppercase margin--b-4">Our Clients.</h2>
      <div class="grid t-center clients__grid">
        <div class="col-3 clients__col">
          <div class="clients__tile">{% include "includes/client-aei.html" %}</div>
        </div>
        <div class="col-3 clients__col">
          <div class="clients__tile">{% include "includes/client-aei.html" %}</div>
        </div>
        <div class="col-3 clients__col">
          <div class="clients__tile">{% include "includes/client-aei.html" %}</div>
        </div>
        <div class="col-3 clients__col">
          <div class="clients__tile">{% include "includes/client-aei.html" %}</div>
        </div>
        <hr class="clients__horizontal-break">
        <div class="col-3 clients__col">
          <div class="clients__tile">{% include "includes/client-aei.html" %}</div>
        </div>
        <div class="col-3 clients__col">
          <div class="clients__tile">{% include "includes/client-aei.html" %}</div>
        </div>
        <div class="col-3 clients__col">
          <div class="clients__tile">{% include "includes/client-aei.html" %}</div>
        </div>
        <div class="col-3 clients__col">
          <div class="clients__tile">{% include "includes/client-aei.html" %}</div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="material-wrapper">
    <div class="block block--green padding--lr-4 material-card">
      <p class="t-white t-muted margin--b-7">Featured Blog Post</p>
      <h4 class="t-uppercase t-white"><a href="" class="t-no-underline">Blog Post Title</a></h4>
      <p class="t-white">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.</p>
    </div>
  </div>

  {% include "includes/footer.html" %}
 
  
{% endblock %}