<nav class="nav js-nav">
  <a href="/index.html" class="nav__logo js-nav-logo">{% include "includes/polymath-logo.html" %}</a>
  <div class="nav__menu js-nav-menu">
    <ul class="nav__list js-nav-list">
      <li class="nav__item js-nav-link"><a class="nav__link" href="dream.html">Dream</a></li>
      <li class="nav__item js-nav-link"><a class="nav__link" href="dream.html">Design</a></li>
      <li class="nav__item js-nav-link"><a class="nav__link" href="dream.html">Deploy</a></li>
      <li class="nav__item js-nav-link"><a class="nav__link" href="about.html">About Us</a></li>
    </ul>
  </div>
  <a href="/" class="nav__menu-button js-menu-trigger"><div class="nav__burger"></div><div class="nav__close"></div></a>
</nav>